.bg-aboutus{
    background: url('../images/proposta/ABOUT US-LR___3.png') no-repeat;
}
.bg-expertise{
    background: url('../images/proposta/OUR_EXPERTISE_1.jpg') no-repeat;
}
.bg-dentistry{
    
    background: url('../images/proposta/dent____.png') no-repeat;
   

  
}

.bg-veterinary{
    background: url('../images/proposta/veterinary_1.jpg') no-repeat;
    

}



.bg-aboutus_1{
    background: url('../images/proposta/CHISIAMO_team.jpg') no-repeat;
}
.bg-expertise_1{
    background: url('../images/proposta/Our_expertise_photo.jpg') no-repeat;
}
.bg-dentistry_1{
    
    background: url('../images/proposta/Dentistry_photo.jpg') no-repeat;
   

  
}

.bg-veterinary_1{
    background: url('../images/proposta/Veterinary_photo.jpg') no-repeat;
    

}







