.bg-aboutus{
    background: url('../images/proposta/ABOUT US-LR___3.png') no-repeat;
}
.bg-expertise{
    background: url('../images/proposta/OUR_EXPERTISE_1.jpg') no-repeat;
}
.bg-dentistry{
    
    background: url('../images/proposta/dentistry_2.jpg') no-repeat; 
    

  
}

.bg-veterinary{
    background: url('../images/proposta/veterinary_1.jpg') no-repeat;
    

}

